<div class="overflow-hidden">
  <app-header></app-header>
  <div id="wrapper" class="flex gap-1 p-3 h-[calc(100vh-60px)] overflow-hidden">
    <div #leftElement>
      <dx-resizable class="h-full" handles="right">
        <dx-data-grid
          #usersGrid
          class="border-b-2"
          height="50%"
          [showBorders]="true"
          [dataSource]="users"
          keyExpr="id"
          [allowColumnReordering]="true"
          (onRowClick)="onUserClick($event.data)"
        >
          <dxo-row-dragging
            data="users"
            group="sameGroup"
            [allowReordering]="false"
            [allowDropInsideItem]="false"
            [onDragEnd]="onUserDragEnd"
          />
          <dxo-header-filter
            [visible]="true"
            [search]="{ enabled: true }"
          ></dxo-header-filter>
          <dxo-column-chooser
            [enabled]="true"
            mode="select"
          ></dxo-column-chooser>

          <dxi-column dataField="name" caption="Name"></dxi-column>
          <dxi-column dataField="cc" caption="CC"></dxi-column>
          <dxi-column
            dataField="skills"
            caption="Skills"
            [lookup]="{ dataSource: skills }"
            [calculateCellValue]="calculateCellValue"
            [calculateFilterExpression]="calculateFilterExpression"
          >
          </dxi-column>
          <dxi-column dataField="type" caption="Type"></dxi-column>

          <dxo-toolbar>
            <dxi-item location="after" name="columnChooserButton"></dxi-item>
          </dxo-toolbar>
        </dx-data-grid>
      </dx-resizable>

      <dx-data-grid
        #userHistoryGrid
        *ngIf="selectedUser"
        height="50%"
        [dataSource]="userHistory"
        [showBorders]="true"
      >
        <dxi-column dataField="project" caption="Project"></dxi-column>
        <dxi-column dataField="status" caption="Status"></dxi-column>
        <dxi-column
          dataField="timestamp"
          caption="Timestamp"
          dataType="datetime"
        ></dxi-column>
      </dx-data-grid>
    </div>

    <!-- ! Possible leak from appResize directory
    <!-- TODO: Find alternative -->
    <!-- <dx-button
      icon="dragvertical"
      class="flex items-center justify-center cursor-col-resize w-4 h-8 my-auto focus:outline-none"
      appResize
      [leftResize]="leftElement"
      [rightResize]="rightElement"
    ></dx-button> -->

    <div #rightElement class="flex-2">
      <dx-data-grid
        #projectsGrid
        height="100%"
        [dataSource]="projects"
        [showBorders]="true"
        [scrolling]="{ mode: 'virtual' }"
        keyExpr="id"
        [allowColumnReordering]="true"
      >
        <dxo-row-dragging
          data="projects"
          group="sameGroup"
          [allowDropInsideItem]="true"
          [allowReordering]="false"
          [showDragIcons]="false"
          [onDragStart]="onProjectDragStart"
        />
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping
          [autoExpandAll]="false"
          expandMode="rowClick"
        ></dxo-grouping>
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
        <!-- COLS -->
        <dxi-column dataField="company" sortOrder="asc" [groupIndex]="0">
        </dxi-column>
        <dxi-column dataField="project"></dxi-column>
        <dxi-column
          dataField="technologies"
          caption="Technologies"
          [lookup]="{ dataSource: technologies }"
          [calculateCellValue]="calculateCellValue"
          [calculateFilterExpression]="calculateFilterExpression"
        ></dxi-column>
        <dxi-column dataField="availablePositions"></dxi-column>

        <dxo-toolbar>
          <dxi-item location="before" name="groupPanel"></dxi-item>
          <dxi-item>
            <dx-switch
              [switchedOnText]="'Aplicari active'"
              [switchedOffText]="'Toate aplicarile'"
              (onValueChanged)="toggleFilterAttributes()"
              [width]="140"
              height="36px"
            ></dx-switch>
          </dxi-item>
          <dxi-item location="after" name="columnChooserButton"></dxi-item>
        </dxo-toolbar>

        <dxo-master-detail
          [enabled]="true"
          template="detail"
        ></dxo-master-detail>
        <div *dxTemplate="let project of 'detail'">
          <div class="master-detail-caption mb-1 font-semibold">
            Aplicari pt. {{ project.data.company }} - {{ project.data.project }}
          </div>
          <dx-data-grid
            #targetGrid
            [dataSource]="project.data.applications"
            [showBorders]="true"
            [columnAutoWidth]="true"
            keyExpr="id"
            (onEditingStart)="onEditingStart($event)"
            (onRowUpdating)="onRowUpdating($event)"
          >
            <dxo-row-dragging
              data="applications-{{ project.data.id }}"
              group="sameGroup"
              [showDragIcons]="false"
              [onDragStart]="onProjectDragStart"
            />
            <dxo-editing
              mode="cell"
              [allowUpdating]="true"
              [allowDeleting]="true"
            />
            <dxi-column
              dataField="user.name"
              caption="Name"
              [allowEditing]="false"
            ></dxi-column>
            <dxi-column
              dataField="statusArray"
              caption="Status"
              [selectedFilterOperation]="dynamicSelectedFilterOperation"
              [filterValue]="dynamicFilterValue"
              [calculateCellValue]="calculateStatus"
              [allowEditing]="true"
            >
              <dxo-lookup [dataSource]="statuses"></dxo-lookup>
            </dxi-column>
            <dxi-column
              dataField="user.skills"
              caption="Relevant skills"
              cellTemplate="skillsTemplate"
              [allowEditing]="false"
            ></dxi-column>
            <div *dxTemplate="let skills of 'skillsTemplate'">
              {{ intersectedSkills(skills.value, project.data.technologies) }}
            </div>
          </dx-data-grid>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
