::ng-deep .dx-switch-container {
  height: 36px;
}

::ng-deep .dx-switch-inner {
  height: 36px;
}

::ng-deep .dx-switch-handle {
  height: 30px;
}

::ng-deep .dx-switch-on,
::ng-deep .dx-switch-off {
  font-size: 14px;
  line-height: 36px;
}

::ng-deep .dx-datagrid .dx-link {
  color: #EF4444;
}

::ng-deep .dx-data-row.dx-state-hover {
  background-color: rgba(150, 206, 255, 0.2);
  cursor: pointer;
}

.skills-container {
  white-space: normal;
}

.skill-bubble {
  background-color: #007bff3f;
  color: #000000;
  padding: 1px 6px;
  border-radius: 50%;
  margin: 5px;
  font-size: 12px;
}
