::ng-deep .dx-switch-container {
  height: 36px;
}

::ng-deep .dx-switch-inner {
  height: 36px;
}

::ng-deep .dx-switch-handle {
  height: 30px;
}

::ng-deep .dx-switch-on,
::ng-deep .dx-switch-off {
  font-size: 14px;
  line-height: 36px;
}

.name:hover {
  cursor: pointer;
  color: #63A0D4; 
  text-decoration: underline; 
}

