<div class="overflow-hidden">
  <app-header></app-header>
  <div id="wrapper" class="flex gap-1 p-3 h-[calc(100vh-60px)] overflow-hidden">
    <div #leftElement>
      <dx-data-grid
        #usersGrid
        height="100%"
        [showBorders]="true"
        [dataSource]="users"
        keyExpr="id"
      >
        <dxo-row-dragging
          data="users"
          group="sameGroup"
          [allowReordering]="false"
          [allowDropInsideItem]="false"
          [onDragEnd]="onUserDragEnd"
        />
        <dxo-header-filter
          [visible]="true"
          [search]="{ enabled: true }"
        ></dxo-header-filter>
        <!-- COLS -->
        <dxi-column dataField="name" caption="Name"></dxi-column>
        <dxi-column dataField="cc" caption="CC"></dxi-column>
        <dxi-column
          dataField="skills"
          caption="Skills"
          [lookup]="{ dataSource: skills }"
          [calculateCellValue]="calculateCellValue"
          [calculateFilterExpression]="calculateSkillsFilterExpression"
        >
          >
        </dxi-column>
        <dxi-column dataField="type" caption="Type"></dxi-column>
      </dx-data-grid>
    </div>

    <!-- ! Possible leak from appResize directory  -->
    <!-- TODO: Find alternative -->
    <dx-button
      icon="dragvertical"
      class="flex items-center justify-center cursor-col-resize w-4 h-8 my-auto focus:outline-none"
      appResize
      [leftResize]="leftElement"
      [rightResize]="rightElement"
    ></dx-button>

    <div #rightElement>
      <dx-data-grid
        #projectsGrid
        height="100%"
        [dataSource]="projects"
        [showBorders]="true"
        [scrolling]="{ mode: 'virtual' }"
        keyExpr="id"
      >
        <dxo-row-dragging
          data="projects"
          group="sameGroup"
          [allowDropInsideItem]="true"
          [allowReordering]="false"
          [showDragIcons]="false"
          [onDragStart]="onProjectDragStart"
        />
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping
          [autoExpandAll]="false"
          expandMode="rowClick"
        ></dxo-grouping>
        <dxi-column dataField="firma" sortOrder="asc" [groupIndex]="0">
        </dxi-column>
        <dxi-column dataField="proiect"></dxi-column>
        <dxi-column dataField="tehnologii"></dxi-column>
        <dxi-column dataField="locuriDisponibile"></dxi-column>
        <dxo-master-detail
          [enabled]="true"
          template="detail"
        ></dxo-master-detail>
        <div *dxTemplate="let project of 'detail'">
          <div class="master-detail-caption mb-1 font-semibold">
            Aplicari pt. {{ project.data.firma }} - {{ project.data.proiect }}
          </div>
          <dx-data-grid
            #targetGrid
            [dataSource]="project.data.aplicari"
            [showBorders]="true"
            [columnAutoWidth]="true"
            keyExpr="id"
          >
            <dxo-row-dragging
              data="aplicari-{{ project.data.id }}"
              group="sameGroup"
              [showDragIcons]="false"
              [onDragStart]="onProjectDragStart"
            />
            <dxo-editing
              mode="cell"
              [allowUpdating]="true"
              [allowDeleting]="true"
            />
            <dxi-column
              dataField="user.name"
              caption="Name"
              [allowEditing]="false"
            ></dxi-column>
            <dxi-column dataField="status">
              <dxo-lookup [dataSource]="statuses"> </dxo-lookup>
            </dxi-column>
            <dxi-column
              dataField="user.skills"
              caption="Relevant skills"
              cellTemplate="skillsTemplate"
              [allowEditing]="false"
            ></dxi-column>
            <div *dxTemplate="let skills of 'skillsTemplate'">
              {{ intersectedSkills(skills.value, project.data.tehnologii) }}
            </div>
          </dx-data-grid>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
