<div class="overflow-hidden">
  <div id="wrapper" class="flex gap-1 p-3 h-[calc(100vh-60px)] overflow-hidden">
    <div #leftElement>
      <dx-resizable class="h-full flex flex-col gap-1" handles="right">
        <dx-data-grid
          #usersGrid
          class="border-b-2"
          height="70%"
          [showBorders]="true"
          [dataSource]="users"
          keyExpr="id"
          [allowColumnReordering]="true"
          (onRowClick)="onUserClick($event.data)"
        >
          >
          <dxo-row-dragging
            data="users"
            group="sameGroup"
            [allowReordering]="false"
            [allowDropInsideItem]="false"
            [onDragEnd]="onUserDragEnd"
          />
          <dxo-header-filter
            [visible]="true"
            [search]="{ enabled: true }"
          ></dxo-header-filter>
          <dxo-column-chooser
            [enabled]="true"
            mode="select"
          ></dxo-column-chooser>

          <dxi-column
            dataField="name"
            caption="Name"
            cellTemplate="nameTemplate"
          ></dxi-column>
          <div
            *dxTemplate="let cellInfo of 'nameTemplate'"
            title="Display user history"
          >
            <div [ngClass]="'name'">
              {{ cellInfo.value }}
            </div>
          </div>
          <dxi-column dataField="cc" caption="CC"></dxi-column>
          <dxi-column
            dataField="skills"
            caption="Skills"
            [lookup]="{ dataSource: skills }"
            [calculateCellValue]="calculateCellValue"
            [calculateFilterExpression]="calculateFilterExpression"
            cellTemplate="skillsCellTemplate"
          >
            <div *dxTemplate="let cellInfo of 'skillsCellTemplate'">
              <div class="skills-container">
                <div *ngFor="let skill of cellInfo.data.skills">
                  {{ skill.technology }}
                  <span class="skill-bubble">
                    {{ skill.engineeringScore }}
                  </span>
                </div>
              </div>
            </div>
          </dxi-column>
          <dxi-column
            class="text-center"
            dataField="type"
            caption="Type"
            sortIndex="0"
            sortOrder="desc"
          ></dxi-column>

          <dxo-toolbar>
            <dxi-item location="after" name="columnChooserButton"></dxi-item>
          </dxo-toolbar>
        </dx-data-grid>

        <dx-popup
          [width]="660"
          [height]="540"
          [showTitle]="true"
          [title]="selectedUser?.name + ' - Allocation History'"
          [dragEnabled]="false"
          [hideOnOutsideClick]="true"
          [(visible)]="popupVisible"
          [showCloseButton]="true"
        >
          <div *dxTemplate="let data of 'content'">
            <dx-data-grid
              #userHistoryGrid
              *ngIf="selectedUser"
              [dataSource]="userHistory"
              [showBorders]="true"
              (onExporting)="onExporting($event)"
            >
              <dxi-column dataField="project" caption="Project"></dxi-column>
              <dxi-column dataField="status" caption="Status"></dxi-column>
              <dxi-column
                dataField="timestamp"
                caption="Timestamp"
                dataType="datetime"
              ></dxi-column>
              <dxo-export [enabled]="true" [formats]="['pdf']"></dxo-export>
            </dx-data-grid>
          </div>
        </dx-popup>
      </dx-resizable>
    </div>

    <!-- ! Possible leak from appResize directory
      <!-- TODO: Find alternative -->
    <!-- <dx-button
        icon="dragvertical"
      class="flex items-center justify-center cursor-col-resize w-4 h-8 my-auto focus:outline-none"
      appResize
      [leftResize]="leftElement"
      [rightResize]="rightElement"
    ></dx-button> -->

    <div #rightElement class="flex-2">
      <dx-data-grid
        #projectsGrid
        height="100%"
        [dataSource]="projects"
        [showBorders]="true"
        [scrolling]="{ mode: 'virtual' }"
        keyExpr="id"
        [allowColumnReordering]="true"
      >
        <dxo-row-dragging
          data="projects"
          group="sameGroup"
          [allowDropInsideItem]="true"
          [allowReordering]="false"
          [showDragIcons]="false"
          [onDragStart]="onProjectDragStart"
        />
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxo-grouping
          [autoExpandAll]="false"
          expandMode="rowClick"
        ></dxo-grouping>
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
        <!-- COLS -->
        <dxi-column dataField="company" sortOrder="asc" [groupIndex]="0">
        </dxi-column>
        <dxi-column dataField="project"></dxi-column>
        <dxi-column
          dataField="technologies"
          caption="Technologies"
          [lookup]="{ dataSource: technologies }"
          [calculateCellValue]="calculateCellValue"
          [calculateFilterExpression]="calculateFilterExpression"
        ></dxi-column>
        <dxi-column dataField="availablePositions"></dxi-column>

        <dxo-toolbar>
          <dxi-item location="before" name="groupPanel"></dxi-item>
          <dxi-item>
            <dx-switch
              [switchedOnText]="'Aplicari active'"
              [switchedOffText]="'Toate aplicarile'"
              (onValueChanged)="toggleFilterAttributes()"
              [width]="140"
              height="36px"
            ></dx-switch>
          </dxi-item>
          <dxi-item location="after" name="columnChooserButton"></dxi-item>
        </dxo-toolbar>

        <dxo-master-detail
          [enabled]="true"
          template="detail"
        ></dxo-master-detail>
        <div *dxTemplate="let project of 'detail'">
          <div class="mb-1 font-semibold flex justify-between">
            <div>
              Aplicari pt. {{ project.data.company }} -
              {{ project.data.project }}
            </div>
            <div>
              Open:
              {{ calculateOpenAllocations(project.data.applications) }}
              - Available:
              {{ project.data.availablePositions }}
            </div>
          </div>
          <dx-data-grid
            #targetGrid
            [dataSource]="project.data.applications"
            [showBorders]="true"
            [columnAutoWidth]="true"
            keyExpr="id"
            (onEditingStart)="onEditingStart($event)"
            (onRowUpdating)="onRowUpdating($event)"
            [filterSyncEnabled]="true"
            [filterValue]="dynamicFilterValue"
            (onCellPrepared)="onCellPrepared($event)"
          >
            <dxo-row-dragging
              data="applications-{{ project.data.id }}"
              group="sameGroup"
              [showDragIcons]="false"
              [onDragStart]="onProjectDragStart"
            />
            <dxo-editing
              mode="cell"
              [allowUpdating]="true"
              [allowDeleting]="true"
            />
            <dxi-column
              dataField="user.name"
              caption="Name"
              [allowEditing]="false"
            ></dxi-column>
            <dxi-column
              dataField="statusArray"
              caption="Status"
              [calculateCellValue]="calculateStatus"
              [allowEditing]="true"
            >
              <dxo-lookup [dataSource]="statuses"></dxo-lookup>
            </dxi-column>
            <dxi-column
              dataField="user.skills"
              caption="Relevant skills"
              cellTemplate="skillsTemplate"
              [allowEditing]="false"
            ></dxi-column>
            <div *dxTemplate="let skills of 'skillsTemplate'">
              {{ intersectedSkills(skills.value, project.data.technologies) }}
            </div>
            <dxi-column type="buttons">
              <dxi-button
                id="deleteBtn"
                name="delete"
                icon="trash"
              ></dxi-button>
            </dxi-column>
          </dx-data-grid>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
