::ng-deep .dx-switch-container {
  height: 36px;
}

::ng-deep .dx-switch-inner {
  height: 36px;
}

::ng-deep .dx-switch-handle {
  height: 30px;
}

::ng-deep .dx-switch-on,
::ng-deep .dx-switch-off {
  font-size: 14px;
  line-height: 36px;
}
.skills-container {
  white-space: normal;
}

.skill-bubble {
  display: inline-block;
  background-color: #007bff3f;
  color: #000000;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 5px;
}

