  .project-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .project-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s; 
  }
  
  .project-item:hover {
    color: rgb(141, 141, 141);
  }
  
  .project-item.selected {
    color: #0284C7; 
  }

  