<dx-responsive-box class="flex flex-wrap justify-center md:justify-between h-full overflow-y-auto">
  <dxi-row [ratio]="1"></dxi-row>

  <dxi-col [ratio]="1"></dxi-col>
  <dxi-col [ratio]="1"></dxi-col>
  <dxi-col [ratio]="1"></dxi-col>
  <dxi-col [ratio]="1"></dxi-col>

  <dxi-item>
    <dxi-location [row]="0" [col]="1"></dxi-location>
    <div class="card hover" (click)="navigateToGeneralStatistics()">
      <div class="card-content">
          <i class="dx-icon-dataarea dx-icon-custom-style"></i>
          <h3>General Statistics</h3>
      </div>
    </div>
  </dxi-item>
  
  <dxi-item>
    <dxi-location [row]="0" [col]="2"></dxi-location>
    <div class="card hover" (click)="navigateToProjectStatistics()">
      <div class="card-content">
          <i class="dx-icon-datatrending dx-icon-custom-style"></i>
          <h3>Project Statistics</h3>
      </div>
    </div>
  </dxi-item>

<!-- TO DO:
  -navigation between statistics
  -prettier dashboard
  -restyle general statistics
-->
</dx-responsive-box>
